* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
bady {
  background-repeat: no-repeat;
  background-color: rgb(225, 134, 134);
}
#loading {
  position: fixed;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 1s;
}
#loading.loading-none {
  opacity: 0;
  z-index: -1;
}
@keyframes ldio-yzaezf3dcmj {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(7.78, 1);
  }
  100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
  }
}
.ldio-yzaezf3dcmj div > div {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ed1122;
  animation: ldio-yzaezf3dcmj 1s linear infinite;
}
.ldio-yzaezf3dcmj div:nth-child(1) > div {
  left: 142px;
  top: 98px;
  animation-delay: -0.9285714285714286s;
}
.ldio-yzaezf3dcmj > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 144px 100px;
}
.ldio-yzaezf3dcmj div:nth-child(2) > div {
  left: 138px;
  top: 117px;
  animation-delay: -0.8571428571428571s;
}
.ldio-yzaezf3dcmj > div:nth-child(2) {
  transform: rotate(25.714285714285715deg);
  transform-origin: 140px 119px;
}
.ldio-yzaezf3dcmj div:nth-child(3) > div {
  left: 125px;
  top: 132px;
  animation-delay: -0.7857142857142857s;
}
.ldio-yzaezf3dcmj > div:nth-child(3) {
  transform: rotate(51.42857142857143deg);
  transform-origin: 127px 134px;
}
.ldio-yzaezf3dcmj div:nth-child(4) > div {
  left: 108px;
  top: 141px;
  animation-delay: -0.7142857142857143s;
}
.ldio-yzaezf3dcmj > div:nth-child(4) {
  transform: rotate(77.14285714285714deg);
  transform-origin: 110px 143px;
}
.ldio-yzaezf3dcmj div:nth-child(5) > div {
  left: 88px;
  top: 141px;
  animation-delay: -0.6428571428571429s;
}
.ldio-yzaezf3dcmj > div:nth-child(5) {
  transform: rotate(102.85714285714286deg);
  transform-origin: 90px 143px;
}
.ldio-yzaezf3dcmj div:nth-child(6) > div {
  left: 71px;
  top: 132px;
  animation-delay: -0.5714285714285714s;
}
.ldio-yzaezf3dcmj > div:nth-child(6) {
  transform: rotate(128.57142857142858deg);
  transform-origin: 73px 134px;
}
.ldio-yzaezf3dcmj div:nth-child(7) > div {
  left: 58px;
  top: 117px;
  animation-delay: -0.5s;
}
.ldio-yzaezf3dcmj > div:nth-child(7) {
  transform: rotate(154.28571428571428deg);
  transform-origin: 60px 119px;
}
.ldio-yzaezf3dcmj div:nth-child(8) > div {
  left: 54px;
  top: 98px;
  animation-delay: -0.42857142857142855s;
}
.ldio-yzaezf3dcmj > div:nth-child(8) {
  transform: rotate(180deg);
  transform-origin: 56px 100px;
}
.ldio-yzaezf3dcmj div:nth-child(9) > div {
  left: 58px;
  top: 79px;
  animation-delay: -0.35714285714285715s;
}
.ldio-yzaezf3dcmj > div:nth-child(9) {
  transform: rotate(205.71428571428572deg);
  transform-origin: 60px 81px;
}
.ldio-yzaezf3dcmj div:nth-child(10) > div {
  left: 71px;
  top: 64px;
  animation-delay: -0.2857142857142857s;
}
.ldio-yzaezf3dcmj > div:nth-child(10) {
  transform: rotate(231.42857142857142deg);
  transform-origin: 73px 66px;
}
.ldio-yzaezf3dcmj div:nth-child(11) > div {
  left: 88px;
  top: 55px;
  animation-delay: -0.21428571428571427s;
}
.ldio-yzaezf3dcmj > div:nth-child(11) {
  transform: rotate(257.14285714285717deg);
  transform-origin: 90px 57px;
}
.ldio-yzaezf3dcmj div:nth-child(12) > div {
  left: 108px;
  top: 55px;
  animation-delay: -0.14285714285714285s;
}
.ldio-yzaezf3dcmj > div:nth-child(12) {
  transform: rotate(282.85714285714283deg);
  transform-origin: 110px 57px;
}
.ldio-yzaezf3dcmj div:nth-child(13) > div {
  left: 125px;
  top: 64px;
  animation-delay: -0.07142857142857142s;
}
.ldio-yzaezf3dcmj > div:nth-child(13) {
  transform: rotate(308.57142857142856deg);
  transform-origin: 127px 66px;
}
.ldio-yzaezf3dcmj div:nth-child(14) > div {
  left: 138px;
  top: 79px;
  animation-delay: 0s;
}
.ldio-yzaezf3dcmj > div:nth-child(14) {
  transform: rotate(334.2857142857143deg);
  transform-origin: 140px 81px;
}
.loadingio-spinner-spin-2by998twmg8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-yzaezf3dcmj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcmj div {
  box-sizing: content-box;
}

.parent-bg {
  margin: 0 auto;
  width: 700px;
  height: 700px;
  background-color: rgb(222, 0, 0);
  animation-name: animationName;
  background-image: url(../img/nutrtr.jpg);
  background-size: cover;
  position: relative;
  color: rgb(239, 137, 12);
  box-shadow: 1px 1px 50px 30px;
  transition: 1s;
  top: 200px;
}
.parent-bg:hover {
  box-shadow: 1px 1px 50px 30px;
  background-image: url(../img/loading.gif);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  color: rgb(8, 255, 8);
}
.parent {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  animation-name: animationName;
  background-image: url(../img/bmw1.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
.parent:hover {
  cursor: pointer;
}

@keyframes animationName {
  0% {
    background-image: url(../img/bmw1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
  25% {
    background-image: url(../img/benz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 500px;
    left: 500px;
  }
  50% {
    background-image: url(../img/lombo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 500px;
    left: 0;
  }
  75% {
    background-image: url(../img/ferari.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation-play-state: 1s;
    top: 0;
    left: 500px;
  }
  100% {
    background-image: url(../img/ww.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
  }
}
